.login-form-wrapper {
    padding: 36px 56px 48px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    min-width: 600px;
    
}

.login-form {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
    border-radius: 0;
    background-color: white;
    padding: 30px;
    min-width: 480px;

    .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        color: $blue-dark;
        text-align: center;
    }
    .domain{
        margin-bottom: 24px;
        text-align: center;
    }

    .input-group {
        display: block;
        margin-bottom: 24px;
        position: relative;
        height: 54px;

        .input-control {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            color: #525666;
            background-color: #fff;
            padding-left: 45px;
            border-radius: 0;
            font-size: 15px;
            transition: border .3s linear;
            border: 1px solid #ccc;
        }
        .hero-icon {
            position: absolute;
            top: 50%;
            left: 10px;
            display: block;
            font-size: 28px;
            z-index: 3;
            color: $gray-600;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .btn-login {
        margin-top: 30px;
        color: #fff;
        background: #007bfc;
        display: block;
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 18px 0;
        border: none;
    }
}