@import "./login";
@import "./request-information";

@import "../partial/_sidebar";
@import "../partial/_header";
@import "../partial/_footer";
@import "../partial/_content";
@import "../partial/_foundation";


.right_content_page {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
}
.admin_content_body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.footer {
    display: flex;
    flex: 0 0 50px;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
}