@charset "UTF-8";


.comingsoon{  
	background-image:url("../images/coming.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.comingsoon h1{
	font: bold 48px 'Exo', sans-serif;
    color: #FFFFFF;	
	text-shadow: 5px 5px 5px black;
	text-align: center;

}
.comingsoon h2{
	margin-top: 10px;
	position: relative;
}

.comingsoon h2 .a{
	position: absolute;
	left: -20px;
	height: 25px;
	width: 2px;
	background: red;
	transform: rotate(-40deg);
}
.comingsoon h2 .b{
	position: absolute;
	height: 25px;
	width: 2px;
	right: -10px;
	background: red;
	transform: rotate(40deg);
}

.comingsoon button{
	background:hsla(142,100%,37%,1.00);
	color: white;
	margin-top: 35px;
	padding: 5px 15px;
	border: 0;
	cursor: pointer;
}

