@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 1;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
}

.social {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 25px;
}

.social .divider {
  content: ".";
  color: transparent;
  display: inline-block;
  border-right: 1px solid #ddd;
  width: 10px;
  height: 20px;
  vertical-align: middle;
}

.social__fb {
  background-color: #3b5998;
  color: white;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  border: 1px solid #3b5998;
}

.social__fb:hover {
  background-color: #5a74ad;
  color: white;
}

.share-text {
  padding-left: 3px;
}

.social__wt {
  background-color: #1da1f2;
  color: #fff;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #1da1f2;
}

.social__wt:hover {
  background-color: #51b3f0;
  color: white;
}

.social__prt {
  background-color: #ffffff;
  color: #1da1f2;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #1da1f2;
}

.social__prt:hover {
  background-color: #f2f2f2;
  color: #69bcf0;
}

.head {
  margin-bottom: 7px;
  padding-left: 10px;
}

.number {
  width: 39px;
  background-color: #1baad1;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  float: left;
  padding: 7px 2px;
  margin-right: 10px;
}

.imgmes {
  margin-top: 35px;
}
.imgmes:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.imgmess__left {
  width: 45%;
  float: left;
  padding-right: 37px;
}
.imgmes .mes{
  width: 55%;
  float: left;
  overflow-wrap: break-word;
}
.imgmes .mes.w-100{
  width: 100%;
}

.head-title {
  font-size: 24px;  
}

.imgdtl-list{
  margin: 35px 0;
}
.imgdtl-list:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}
.imgdtl-list > .img__dtl-item {  
  width: 33.33%;
  padding: 8px;
  float: left;
}

.info > p {
  font-size: 18px;
  padding: 30px 0px 30px 0px;
}

.info-text {
  width: 50%;
  float: left;
}

.info-text > p {
  font-size: 12px;
  font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  padding-top: 30px;
}

.info-text > a {
  color: #3dc4e9;
  font-size: 12px;
  clear: both;
}

.info-txtimg {
  margin-bottom: 230px;
}

.info-txtimg:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.img__infor-right{
  width: 50%;
  float: right;
  padding-left: 40px;
}

.btn_map {
  background-color: #1baad1;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
}

.btn_map:hover {
  background-color: #5ab7d1;
}

.btn_map > span {
  color: #fff;
}

/* .roundbtn-fb {
  background-color: #3b5998;
  width: 100%;
  height: 100%;
  padding: 22px 30px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  text-align: center;
  margin-right: 15px;
} */

/* .roundbtn-fb:hover {
  background-color: #4b659c;
  color: white;
} */

/* .roundbtn-tw {
  background-color: #1da1f2;
  width: 100%;
  height: 100%;
  padding: 22px 30px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  text-align: center;
} */

/* .roundbtn-tw:hover {
  background-color: #62b8ee;
  color: white;
} */

.main-content-imgcont{
  padding: 0 15px;
}

.social-footer {
  margin-bottom: 50px;
}

.social-footer .social-footer-item{
  display: inline-block;
  padding: 10px 0;
}

.footer > p {
  margin: 0 auto;
}

.btn-footer {
  margin-bottom: 5px;
}

.btn-footer > a {
  border: 1px solid #949090;
  border-radius: 5px;
  margin-right: 5px;
  color: #9e9b9b;
}

.btn-footer > a > span {
  font-size: 10px;
}

.footer__pic {
  height: 269px;
  clear: none;
  float: left;
  width: 33.333%;
  padding: 8px;
  overflow: hidden;
  display: block;
}

.footer__img > img {
  width: 300px;
  height: 300px;
}

.footer-pic__wrapper {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

.footer__img {
  display: block;
}

.footer__img:hover img {
  transform: scale(1.16);
  transition: all 1s;
}

.footer__num {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
  background-color: transparent;
  display: flex;
  width: 54px;
  flex-direction: column;
  transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.footer__num > i {
  background-color: #1baad1;
  text-align: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 9px 5px;
  color: #fff;
  font-weight: bold;
}

.title {
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  left: 0px;
  padding: 8px 16px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.title:hover {
  background-color: blue;
  transition: all 0.5s ease-in-out;
}

.title > h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.list__img:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
  margin-bottom: 20px;
}

.btntotop{
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: 1px solid rgb(82, 82, 216);
  cursor: pointer;
}

.btntotop:after{
  content: ".";
  margin-bottom: 50px;
  clear: both;
  
}

.btntotop:hover{
  border: 1px solid #8ed0f9;
  color: #8ed0f9;
  transition: all 1s;
}

.fttext{
  margin: 0 auto;
  margin: 50px 0px;
  font-size: 20px;
}

.fttext p{
  font-family: 'Kiwi Maru', serif;
}

.fttext .find{
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

.social-footer .social-footer-btn{
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid #1d6b9b;
  color: #1d6b9b;
}
.social-footer .social-footer-btn:hover{
  border: 1px solid #8ed0f9;
  color: #8ed0f9;
  transition: all 1s
}

.social-footer > a{
  margin-right: 35px;
}

.roundbtn-youtube{
  color: red;
}



@media Screen and (max-width:767px){
	.info-text{
    width: 100%;
  }
  .img__infor-right{
    width: 100%;
    padding-left: 0;
  }
  .imgdtl-list > .img__dtl-item {
    width: 50%;
  }


  .imgmess__left {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .imgmes .mes{
    width: 100%;
    float: none;
    padding-top: 15px;
    overflow-wrap: break-word;
  }
}