
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 1;
}
.main-content{
    max-width: 800px;
    margin: 0 auto;
}
.social{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    text-align: right;
}
.social .divider{
    content: ".";
    color: transparent;
    display: inline-block;
    border-right: 1px solid #ddd;
    width: 10px;
    height: 20px;
    vertical-align: middle;
}

.social__fb{
    background-color: #3b5998;
    color: white;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: 1px solid #3b5998;
}
.social__fb:hover{
    background-color: #5a74ad;
    color: white;
}
.share-text{
    padding-left: 3px;
}
.social__wt{
    background-color: #1da1f2;
    color: #fff;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #1da1f2;
}
.social__wt:hover{
    background-color: #079cf8;
    color: white;
}

.social__prt{
    background-color: #ffffff;
    color: #1da1f2;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #1da1f2;
}
.social__prt:hover{
    background-color: #f2f2f2;
    color: #0c3c5a;
}
.number{
    width: 39px;
    height: 39px;
    background-color: cadetblue;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    float: left;
    vertical-align: middle;
}
.head-title{
    
}