@charset "UTF-8";
main{
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 50px;					 
}
main .title{
	font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:20px auto;
	font-size: 25px;
	text-align: center;
}
main nav ul{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	padding: 10px;
}
main nav ul li{
	width: 16%;
	cursor: pointer;
	margin-bottom: 10px;
}
main nav ul li img{
	width: 90%;
	height: auto;
}

.history{
	display: none;
}
.history h2{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	/* width: 280px; */
	margin: auto;
	text-align: center;
	font-size: 22px;
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 30px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.homes h2{
	/* background-image: url("{{asset('images/homes.png')}}"); */
}
.rentcar h2{
    /* background-image: url("{{asset('images/rentcar.png')}}"); */
	padding-left: 20px;
}
.history ul{
	display: flex;
	max-width: 1000px;
	margin: auto;
	padding: 18px;
	overflow: hidden;
	box-sizing: border-box;
	/* background-color: hsla(0,0%,93%,1.00); */
}
.history a{
	color: black;
	text-decoration: none;
}
/* .history ul.last_child{
	background: hsla(0,0%,93%,1.00);
} */
.history ul li:nth-child(1){
	width: 40px;
	height: 40px;
	background:#f0402b;
	color: white;
	border-radius: 20%;
	text-align: center;
	padding-top:7px;
	box-sizing: border-box;
	overflow: hidden;
}
.rentcar ul li:nth-child(1){
	background:#f3ae4d;
}
.history ul li:nth-child(2){
	padding-top:7px;
	width: 90%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	font-family: "Times New Roman", Times, "serif";
}
.history ul li:nth-child(3){
	padding-top:7px;
	text-align: right;
}
.history ul:hover{
	opacity: 0.7;
}

.footer.mt-40{
	margin-top: 40px;
}
.social-footer {
	margin-bottom: 50px;
  }
  
  .social-footer .social-footer-item{
	display: inline-block;
	padding: 10px 0;
  }
  
  .footer > p {
	margin: 0 auto;
  }
  
  .btn-footer {
	margin-bottom: 5px;
  }
  
  .btn-footer > a {
	border: 1px solid #949090;
	border-radius: 5px;
	margin-right: 5px;
	color: #9e9b9b;
  }
  
  .btn-footer > a > span {
	font-size: 10px;
  }
  
  .footer__pic {
	height: 269px;
	clear: none;
	float: left;
	width: 33.333%;
	padding: 8px;
	overflow: hidden;
	display: block;
  }
  
  .footer__img > img {
	width: 300px;
	height: 300px;
  }
  
  .footer-pic__wrapper {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
  }
  
  .footer__img {
	display: block;
  }
  
  .footer__img:hover img {
	transform: scale(1.16);
	transition: all 1s;
  }
  
  .footer__num {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
	background-color: transparent;
	display: flex;
	width: 54px;
	flex-direction: column;
	transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  }
  .social-footer .social-footer-btn {
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #1d6b9b;
    color: #1d6b9b;
}
.social-footer .social-footer-item {
    display: inline-block;
    padding: 10px 0;
}
.social-footer > a {
    margin-right: 35px;
}
.footer__num > i {
background-color: #1baad1;
text-align: center;
border-radius: 8px;
width: 40px;
height: 40px;
padding: 9px 5px;
color: #fff;
font-weight: bold;
}

.social-footer .social-footer-btn{
	padding: 10px 30px;
	border-radius: 8px;
	border: 1px solid #1d6b9b;
	color: #1d6b9b;
  }
  .social-footer .social-footer-btn:hover{
	border: 1px solid #8ed0f9;
	color: #8ed0f9;
	transition: all 1s
  }
  
  .social-footer > a{
	margin-right: 35px;
  }
  
  .roundbtn-youtube{
	color: red;
  }

  .btntotop {
	position: relative;
	padding: 10px 50px;
	border-radius: 8px;
	border: 1px solid #5252d8;
	cursor: pointer;
	color: #5252d8;
  }
  
  .btntotop:hover {
	border: 1px solid #6767dd;
	color: #6767dd;
  }

  .fttext{
	margin: 0 auto;
	margin: 50px 0px;
	font-size: 20px;
  }
  
  .fttext p{
	font-family: 'Kiwi Maru', serif;
  }
  
  .fttext .find{
	font-size: 35px;
	font-family: 'Lobster', cursive;
  }	

@media Screen and (min-width:900px){
	main .title{
		margin: 30px auto;
		margin-top: 40px;
	}
	main nav ul{
		max-width: 1000px;
		margin:30px auto
		
	}
	main nav ul li{
		width:8%;
	}
	.history h2{
		font-size: 26px;
		margin-top: 20px;
		background-size: 35px;
	}
}

.content{
	display: flex;
}

.history ul:nth-child(2)
{
	background-color: #fff;
}

/* .history a{
	color: black;
	display:block;
	max-width: 1000px;
	text-decoration: none;
	margin:auto;
} */

.enkaku{
	color: black;
	display:block;
	max-width: 1000px;
	text-decoration: none;
	margin:auto;
}
/* .history a:nth-child(2n){
	background: #fff;
} */

.history > a:nth-child(2n+1){
	background: hsla(0,0%,93%,1.00);
}


.history-info
{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	justify-content: space-between;
	line-height: 2em;
	
}

.history-info-left
{
	padding-left: 10px;
	padding-right: 0;
    width: 100%;
    max-width: 400px;					 						 
}

.historyleftinfo{
	width:100px;
} 

.history-info > hr{
    background-color: #757574;
}

.history-info-right
{
	padding-right: 10px;
	line-height: 37px;
    width: 100%;
    max-width: 400px;				  
}

.history-info  b{
	font-size: 20px;
}

.history-info  .history-info-right .enkaku_b{
	font-size: 20px;
}

.history__title
{
	font-weight: bold;
}
@media Screen and (min-width:768px){
	main nav ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px 0px;
	}

	main nav ul li {
		width: 9%;
		cursor: pointer;
		margin-bottom: 10px;
		padding: 0px 3px;
	}

	.check ul li img:hover{
		transition: all 0.3s ease-in-out;
		transform: scale(1.16);
	}
}

/* @media Screen and (max-width:500px){ */
@media Screen and (max-width:767px){
	.history h2{
		font-size: 19px;
	}
	.history-info hr{
		display: none;
	}
	.history-info-left{width:100%; margin: 0 auto;}
	.history-info-right{width:100%;margin: 0 auto; padding-left: 10px;}
	.history-info  b{
		font-size: 15px;
	}

	main nav ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px 0px;
	}

	main nav ul li {
		width: 16%;
		cursor: pointer;
		margin-bottom: 10px;
		padding: 0px 3px;
	}

}

@media Screen and (max-width:320px){
	.history-info-left{width:100%;max-width: 160px;}
	.history-info-right{width:100%;max-width: 160px;}
}

/* read more css */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  @-webkit-keyframes slideDown {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  @keyframes slideDown {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  .slide-down {
	-webkit-animation-name: slideDown;
	animation-name: slideDown;
  }
  @-webkit-keyframes slideUp {
	0% {
	  -webkit-transform: translateY(20px);
	  transform: translateY(20px);
	}
	100% {
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	}
  }
  @keyframes slideUp {
	0% {
	  -webkit-transform: translateY(20px);
	  transform: translateY(20px);
	}
	100% {
	  -webkit-transform: translateY(0px);
	  transform: translateY(0px);
	}
  }
  .slide-up {
	-webkit-animation-name: slideUp;
	animation-name: slideUp;
  }
  .content-wrap {
	height: 150px;
	overflow: hidden;
	position: relative;
	margin: 0;
  }
  .close-btn, .more-btn {
	display: block;
	width: 300px;
	padding: 80px 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background: -moz-linear-gradient(
	  top,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 1) 60%
	);
	background: -webkit-linear-gradient(
	  top,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 1) 60%
	);
	background: linear-gradient(
	  to bottom,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 1) 60%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#00ffffff',
		endColorstr='#ffffff',
		GradientType=0
	  );
  }
  .close-btn {
	background: none;
  }
  .slide-up {
	height: 150px;
	padding-bottom: 0;
	overflow: hidden;
  }
  .slide-down {
	height: auto;
	overflow: visible;
	padding-bottom: 50px;
  }
  .more-btn p {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	background: #29B6F6;
	padding: 5px 20px;
	width: 80%;
	border-radius: 20px;
  }
  .close-btn {
	padding:0;
  }
  .close-btn p {
	background: #aaa;
  }
  