@charset "UTF-8";
main{
	overflow: hidden;
	box-sizing: border-box;
}
main .title{
	font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:20px auto;
	font-size: 25px;
	text-align: center;
}
main nav ul{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	padding: 10px;
}
main nav ul li{
	width: 17%;
	cursor: pointer;
	margin-bottom: 10px;
}
main nav ul li img{
	width: 90%;
	height: auto;
}

.history{
	display: none;
}
.history h2{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	width: 280px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 30px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.homes h2{
	background-image: url("{{asset('images/homes.png')}}");
}
.rentcar h2{
    background-image: url("{{asset('images/rentcar.png')}}");
	padding-left: 20px;
}
.history ul{
	display: flex;
	max-width: 1000px;
	margin: auto;
	padding: 18px;
	overflow: hidden;
	box-sizing: border-box;
}
.history a{
	color: black;
	text-decoration: none;
}
.history ul.last_child{
	background: hsla(0,0%,93%,1.00);
}
.history ul li:nth-child(1){
	width: 40px;
	height: 40px;
	background:#f0402b;
	color: white;
	border-radius: 20%;
	text-align: center;
	padding-top:7px;
	box-sizing: border-box;
	overflow: hidden;
}
.rentcar ul li:nth-child(1){
	background:#f3ae4d;
}
.history ul li:nth-child(2){
	padding-top:7px;
	width: 90%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	font-family: "Times New Roman", Times, "serif";
}
.history ul li:nth-child(3){
	padding-top:7px;
	text-align: right;
}
.history ul:hover{
	opacity: 0.7;
}
@media Screen and (min-width:900px){
	main .title{
		margin: 30px auto;
		margin-top: 40px;
	}
	main nav ul{
		max-width: 1000px;
		margin:30px auto
		
	}
	main nav ul li{
		width:8%;
	}
	.history h2{
		width: 350px;
		font-size: 26px;
		margin-top: 20px;
		background-size: 35px;
	}
}