@charset "UTF-8";
main{
	overflow: hidden;
	box-sizing: border-box;
}
main .title{
	font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:20px auto;
	font-size: 25px;
	text-align: center;
}
main nav ul{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	padding: 10px;
}
main nav ul li{
	width: 17%;
	cursor: pointer;
	margin-bottom: 10px;
}
main nav ul li img{
	width: 90%;
	height: auto;
}

.history{
	display: none;
}
.history h2{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	width: 280px;
	margin: auto;
	text-align: center;
	font-size: 22px;
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 30px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.homes h2{
	background-image: url("{{asset('images/homes.png')}}");
}
.rentcar h2{
    background-image: url("{{asset('images/rentcar.png')}}");
	padding-left: 20px;
}
.history ul{
	display: flex;
	max-width: 1000px;
	margin: auto;
	padding: 18px;
	overflow: hidden;
	box-sizing: border-box;
}
.history a{
	color: black;
	text-decoration: none;
}
.history ul.last_child{
	background: hsla(0,0%,93%,1.00);
}
.history ul li:nth-child(1){
	width: 40px;
	height: 40px;
	background:#f0402b;
	color: white;
	border-radius: 20%;
	text-align: center;
	padding-top:7px;
	box-sizing: border-box;
	overflow: hidden;
}
.rentcar ul li:nth-child(1){
	background:#f3ae4d;
}
.history ul li:nth-child(2){
	padding-top:7px;
	width: 90%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	font-family: "Times New Roman", Times, "serif";
}
.history ul li:nth-child(3){
	padding-top:7px;
	text-align: right;
}
.history ul:hover{
	opacity: 0.7;
}










.footer.mt-40{
	margin-top: 40px;
}
.social-footer {
	margin-bottom: 50px;
  }
  
  .social-footer .social-footer-item{
	display: inline-block;
	padding: 10px 0;
  }
  
  .footer > p {
	margin: 0 auto;
  }
  
  .btn-footer {
	margin-bottom: 5px;
  }
  
  .btn-footer > a {
	border: 1px solid #949090;
	border-radius: 5px;
	margin-right: 5px;
	color: #9e9b9b;
  }
  
  .btn-footer > a > span {
	font-size: 10px;
  }
  
  .footer__pic {
	height: 269px;
	clear: none;
	float: left;
	width: 33.333%;
	padding: 8px;
	overflow: hidden;
	display: block;
  }
  
  .footer__img > img {
	width: 300px;
	height: 300px;
  }
  
  .footer-pic__wrapper {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: block;
  }
  
  .footer__img {
	display: block;
  }
  
  .footer__img:hover img {
	transform: scale(1.16);
	transition: all 1s;
  }
  
  .footer__num {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
	background-color: transparent;
	display: flex;
	width: 54px;
	flex-direction: column;
	transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  }
  .social-footer .social-footer-btn {
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #1d6b9b;
    color: #1d6b9b;
}
.social-footer .social-footer-item {
    display: inline-block;
    padding: 10px 0;
}
.social-footer > a {
    margin-right: 35px;
}
  .footer__num > i {
	background-color: #1baad1;
	text-align: center;
	border-radius: 8px;
	width: 40px;
	height: 40px;
	padding: 9px 5px;
	color: #fff;
	font-weight: bold;
  }

.social-footer .social-footer-btn{
	padding: 10px 30px;
	border-radius: 8px;
	border: 1px solid #1d6b9b;
	color: #1d6b9b;
  }
  .social-footer .social-footer-btn:hover{
	border: 1px solid #8ed0f9;
	color: #8ed0f9;
	transition: all 1s
  }
  
  .social-footer > a{
	margin-right: 35px;
  }
  
  .roundbtn-youtube{
	color: red;
  }

  .btntotop {
	position: relative;
	padding: 10px 50px;
	border-radius: 8px;
	border: 1px solid #5252d8;
	cursor: pointer;
	color: #5252d8;
  }
  
  .btntotop:hover {
	border: 1px solid #6767dd;
	color: #6767dd;
  }

  .fttext{
	margin: 0 auto;
	margin: 50px 0px;
	font-size: 20px;
  }
  
  .fttext p{
	font-family: 'Kiwi Maru', serif;
  }
  
  .fttext .find{
	font-size: 35px;
	font-family: 'Lobster', cursive;
  }	

@media Screen and (min-width:900px){
	main .title{
		margin: 30px auto;
		margin-top: 40px;
	}
	main nav ul{
		max-width: 1000px;
		margin:30px auto
		
	}
	main nav ul li{
		width:8%;
	}
	.history h2{
		width: 350px;
		font-size: 26px;
		margin-top: 20px;
		background-size: 35px;
	}
}

.content{
	display: flex;
}