node_modules
yarn.lock
package-lock.json
composer.lock
.vscode
/public/hot
/public/storage
SERVER_PHP/public/upload
/storage/*.key
/SERVER_PHP/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
.vscode/launch.json
.DS_Store
BUILDER\readme.md
dist
/SERVER_PHP/composer.lock
setting.vps.config
setting.ssl.config
SERVER_PHP/public/sitemap.xml
SERVER_PHP/public/sitemap/*
SERVER_PHP/public/resizes/*
SERVER_PHP/public/compress/*
/logs/*