
.nav{
    background-color: $white;
    position: fixed;
    top: 0;
    // left: 0;
    // right: 0;
    left: -1900px;
    right: 1900px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
    padding: 50px 3%;
    text-align: center;
    transition: .2s 0s;

    &__wrapper{
        max-width: $MIN_MD;
        margin: 0 auto;
    }



    &.open{
        left: 0;
        right: 0;
        background-color: $white;
        transition: .2s 0s;
    }
    &__top{
        display: block;
        margin: 0;
        padding: 0;

        &-item{
            list-style: none;
            margin-bottom: 16px;
            padding: 8px 0px;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
            }
            .circle{
                position: relative;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                border: 2px solid rgb(27, 170, 209);
                border-radius: 50%;
                background: rgb(255, 255, 255);
                display: block;
                margin-right: 6px;
                color: rgb(27, 170, 209);
            }
    
            .text-tag{
                color: rgb(51, 51, 51);
                text-decoration: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                font-weight: 600;
                font-size: 16px;
            }
            &:hover a {
                color: #ff9800;
                margin-left: 5px;
                transition: all .3s;
            }
            
        }
    }
    &__links, &__history{
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 60px;
        text-align: left;

        &-item{
            list-style: none;
            margin-bottom: 16px;
            padding: 0 10px;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(51, 51, 51);
                text-decoration: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                font-weight: 600;
                font-size: 15px;
                transition: all .3s;
            }
            &:hover a {
                color: #ff9800;
                margin-left: 5px;
                transition: all .3s;
            }
        }
    }
    &__brand{
        display: block;
        padding: 8px 0px;
        color: rgb(51, 51, 51);
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-weight: 600;
        font-size: 15px;
        
        .icon{
            width: 15px;
            display: inline-block;
            svg{
                width: 100%;
            }
        }
    }
    &__search{
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 60px;
    }
    &__searchs{
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 20px;

        &-wrapper{

            margin: 0;
            padding: 0;
        }
        &-item{
            display: inline-block;
            margin: 10px 16px 0px 0px;
            a {
                color: rgb(51, 51, 51);
                font-size: 11px;
                position: relative;
                box-sizing: border-box;
                border-radius: 5px;
                display: block;
                padding: 6px 16px;
                border: 1px solid rgb(204, 204, 204);
                background: rgb(255, 255, 255);
                transition: all .3s;
            }
            &:hover a {
                color: #ff9800;
                margin-left: 5px;
                transition: all .3s;
            }
        }
    }
    &__metro{
        margin: 0;
        padding: 0;
        margin-top: 20px;

        &-title{
            margin-top: 4rem;
            font-weight: bold;
            font-size: 17px;
        }
    }
    &__metros{
        margin: 0;
        padding: 0;
        margin-top: 20px;

        &-wrapper{
            margin: 0;
            padding: 0;
        }
        &-item{
            font-size: 45px;
            display: inline-block;
            padding: 0 30px;
            a{ 
                display: block;
                transition: all .3s;
            }

            &.twitter a{
                color: #1da1f2;
            }
            &.fb a{
                color: #3b5998;
            }
            &.line a{
                color: #1ecd02;
            }
            &:hover a {
                color: #ff9800;
                margin-left: 5px;
                transition: all .3s;
            }
        }
    }
    &__close{
        position: relative;
        box-sizing: border-box;
        display: flex;
        width: 38%;
        margin: 24px auto 0px;
        padding: 10px 0px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
        color: rgb(51, 51, 51);
        background: rgb(255, 255, 255);
        line-height: 1;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;

        i{
            font-size: 30px;
            margin-right: 15px;
        }
    }
    &__metro-bottom{
        display: none;
    }
}























///////////////////
@include Screen(MD){
    .nav{
        padding: 50px 3%;
        &__top{
            display: flex;
            justify-content: space-around;
        }
        &__links, &__history{
            margin-top: 30px;
            @include clearfix();
            width: 100%;

            &.follow__links{
                margin-top: 20px;
            }
            &-item{
                margin-bottom: 5px!important;
                position: relative;
                float: left;

                &:after{
                    position: absolute;
                    top: 3px;
                    right: 0;
                    transform: rotate(25deg);
                    display: block;
                    width: 2px;
                    height: 20px;
                    content: "";
                    background: rgb(0, 0, 0);
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }
        &__brand{
            text-align: left;
            padding: 30px 10px;
        }
        &__search{
            margin-top: 30px;
            &-title{
                text-align: left;
            }
        }
        &__searchs{
            &-wrapper{
                @include clearfix();
            }
            
            &-title{
                text-align: left;
            }
            &-item{
                float: left;
            }
            
        }



        &__metro{
            
            &-wrapper{
                text-align: left;
                display: flex;
                align-items: center;
                
            }
            &-bottom{
                display: inline-block;
                width: 60px;
            }
            &-title{
                margin-top: 0!important;
            }
        }
        &__metros{

            margin-top: 0;
            &-item{
                font-size: 20px;
                display: inline-block;
                padding: 0 30px;
                
            }
        }
        &.open{
            .nav__close{
                position: fixed;
                top: 20px;
                right: 20px;
                box-sizing: border-box;
                display: block;
                width: unset;
                margin: 0 auto;
                padding: 10px;
                border: 1px solid transparent;
                border-radius: 5px;
                color: rgb(51, 51, 51);
                background: rgb(255, 255, 255);
                line-height: 1;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                cursor: pointer;
    
                .text__close{
                    display: none;
                }
        
                i{
                    font-size: 30px;
                    margin-right: 15px;
                }
            }
        }
        &__close{
            display: none;
        }
    }
}
