
.menu__contact{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    &-item{
        position: relative;
        &:before{
            content: '';
            width: 25px;
            height: 1px;
            display: block;
            position: absolute;
            left: -5px;
            top: 50%;
            margin-top: -1px;
            border-bottom: 3px solid rgba(0,0,0,0);
        }
        a{
            color: $gray-600;
            text-decoration: none;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 38px;
            transition: all ease-in-out 0.3s;
            padding-left: 30px;
            i{
                display: none;
            }
        }

        &.active{
            &:before{
                border-bottom-color: $black;
            }
            
            a{
                color: $black;
                font-weight: 400;
            }
        }
    }

    @include Screen(MD){
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;

        &-item{
            position: relative;
            display: inline-block;

            a{
                display: inline-block;
                // font-weight: 500;
                font-size: 14px;
                margin: 0 5px;
                letter-spacing: 0;
                text-transform: unset;
                line-height: 36px;
                padding: 0 10px;

                cursor: pointer;
                font-family: 'Roboto',sans-serif;
                
                color: rgba(33,42,64,.5);
                font-weight: 700;
                border: 2px solid rgba(33,42,64,.2);
                @include render-autofix(border-radius, 30px);
                @include render-autofix(transition, all 0.2s ease-in-out);

                i{
                    display: inline-block;
                }
            }

            &:before{
                display: none;
                position: relative;
                left: unset;
                top: unset;
            }
        
            &.phone__link:hover {
                
                a{ 
                    border: 2px solid $pink;
                    background: transparent;
                    color: $pink;
                }
            }
            &.promotion__link:hover{
                
                a{
                    border: 2px solid $indigo;
                    background: transparent;
                    color: $indigo;
                }
            }
        }
    }
}
