@import "../_variable";
@import "../_mixin";
@import "../_reboot";

@import "../partial/sidebar";
@import "../partial/nav";
 
.wrapper__page{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.wrapper__content{

    @include ScreenMax(MD){
        padding-right: 0px;
    }
}



.homeslider{
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 28%;
    height: 100%;
    margin: 0px;

    &__wrapper{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    &__item{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: center center / cover no-repeat rgb(255, 255, 255);
        opacity: 0;
        transform-origin: center center;
        animation-duration: 1s;
        animation-fill-mode: both;
        
        &.show{
            opacity: 1;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;

            &:nth-child(1) {
                animation: 8s linear 0s infinite normal none running giXJVD;
            }
        }
    }
}


.content__main{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 100px;
    background-color: #ddd;
}


.main__list{
    @include clearfix();
}
.article{
    clear: none;
    float: left;
    width: 33.333%;
    padding: 8px;

    $__ : '.article';
    &:hover{
        #{$__}__link-title{
            background-color: transparent;
            padding: 16px;
            transition: all 0.5s ease-in-out;
            z-index: 1111;
            &:after{
                content: ".";
                color: transparent;
                position: absolute;
                opacity: 0.5;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgb(27, 170, 209);
                z-index: 1;
            }
        }
        #{$__}__link-img{
            img{
                transition: all 0.5s ease-in-out;
                transform: scale(1.16);
            }
        }
    }
    &__right{
        margin-top: -33.333%;
    }
    
    &__default{

        &-clearbold{
            clear: both
        }
    }
    &__wrapper{
        width: 100%;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    &__link-img{
        img{
            transition: all 0.5s ease-in-out;
            transform: scale(1.08);
        }
    }
    &__link-title{
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        left: 0px;
        padding: 8px 16px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
        z-index: 2;

        .title{
            font-size: 16px;
            font-weight: bold;
            color: $white;
            position: relative;
            z-index: 111111;
        }
    }
    &__challenge{
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        &-text{
            color: turquoise;
        }
        &-number{
            background-color: turquoise;
            padding: 10px;
            width: 50px;
            height: 50px;
            text-align: center;
            color: $white;
            font-weight: bold;
        }
    }
}