@import "../_variable";
@import "../_mixin";
@import "../_reboot";

@import "../partial/sidebar";
@import "../partial/nav";

.wrapper__page{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.wrapper__content{
    padding-right: 90px;

    @include ScreenMax(MD){
        padding-right: 0px;
    }
}
