.wrapper{
    padding-left: 0;
    padding-right: 80px;
}
.main-content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    will-change: opacity;
    .content{
        position: relative;
        box-sizing: border-box;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.15s;
        width: 800px;
        margin: 0 auto;
        .header_content{
            position: relative;
            box-sizing: border-box;
            text-align: center;
        }
        .main-content01{
            position: relative;
            box-sizing: border-box;
            margin-bottom: 48px;
            .news{
                position: relative;
                box-sizing: border-box;
                margin-bottom: 48px;
                .ftimage{
                    position: relative;
                    display: block;
                    box-sizing: border-box;
                    padding: 16px 0;
                    border-radius: 5px;
                    background: rgb(28, 172, 210);
                    color: rgb(255, 255, 255);
                    line-height: 1;
                    text-align: center;
                }
            }
        }
    }
}