

@import 'library/animate/_vars.scss';
@import 'library/animate/_base.scss';

// /* Attention seekers  */
// @import 'library/animate/attention_seekers/bounce.scss';
// @import 'library/animate/attention_seekers/flash.scss';
@import 'library/animate/attention_seekers/pulse.scss';
// @import 'library/animate/attention_seekers/rubberBand.scss';
// @import 'library/animate/attention_seekers/shakeX.scss';
// @import 'library/animate/attention_seekers/shakeY.scss';
// @import 'library/animate/attention_seekers/headShake.scss';
// @import 'library/animate/attention_seekers/swing.scss';
@import 'library/animate/attention_seekers/tada.scss';
// @import 'library/animate/attention_seekers/wobble.scss';
// @import 'library/animate/attention_seekers/jello.scss';
// @import 'library/animate/attention_seekers/heartBeat.scss';

// /* Back entrances */
// @import 'library/animate/back_entrances/backInDown.scss';
// @import 'library/animate/back_entrances/backInLeft.scss';
// @import 'library/animate/back_entrances/backInRight.scss';
// @import 'library/animate/back_entrances/backInUp.scss';

// /* Back exists */
// @import 'library/animate/back_exits/backOutDown.scss';
// @import 'library/animate/back_exits/backOutLeft.scss';
// @import 'library/animate/back_exits/backOutRight.scss';
// @import 'library/animate/back_exits/backOutUp.scss';

// /* Bouncing entrances  */
// @import 'library/animate/bouncing_entrances/bounceIn.scss';
// @import 'library/animate/bouncing_entrances/bounceInDown.scss';
// @import 'library/animate/bouncing_entrances/bounceInLeft.scss';
// @import 'library/animate/bouncing_entrances/bounceInRight.scss';
// @import 'library/animate/bouncing_entrances/bounceInUp.scss';

// /* Bouncing exits  */
// @import 'library/animate/bouncing_exits/bounceOut.scss';
// @import 'library/animate/bouncing_exits/bounceOutDown.scss';
// @import 'library/animate/bouncing_exits/bounceOutLeft.scss';
// @import 'library/animate/bouncing_exits/bounceOutRight.scss';
// @import 'library/animate/bouncing_exits/bounceOutUp.scss';

// /* Fading entrances  */
@import 'library/animate/fading_entrances/fadeIn.scss';
// @import 'library/animate/fading_entrances/fadeInDown.scss';
// @import 'library/animate/fading_entrances/fadeInDownBig.scss';
@import 'library/animate/fading_entrances/fadeInLeft.scss';
// @import 'library/animate/fading_entrances/fadeInLeftBig.scss';
@import 'library/animate/fading_entrances/fadeInRight.scss';
// @import 'library/animate/fading_entrances/fadeInRightBig.scss';
@import 'library/animate/fading_entrances/fadeInUp.scss';
// @import 'library/animate/fading_entrances/fadeInUpBig.scss';
// @import 'library/animate/fading_entrances/fadeInTopLeft.scss';
// @import 'library/animate/fading_entrances/fadeInTopRight.scss';
// @import 'library/animate/fading_entrances/fadeInBottomLeft.scss';
// @import 'library/animate/fading_entrances/fadeInBottomRight.scss';

// /* Fading exits */
// @import 'library/animate/fading_exits/fadeOut.scss';
// @import 'library/animate/fading_exits/fadeOutDown.scss';
// @import 'library/animate/fading_exits/fadeOutDownBig.scss';
// @import 'library/animate/fading_exits/fadeOutLeft.scss';
// @import 'library/animate/fading_exits/fadeOutLeftBig.scss';
// @import 'library/animate/fading_exits/fadeOutRight.scss';
// @import 'library/animate/fading_exits/fadeOutRightBig.scss';
// @import 'library/animate/fading_exits/fadeOutUp.scss';
// @import 'library/animate/fading_exits/fadeOutUpBig.scss';
// @import 'library/animate/fading_exits/fadeOutTopLeft.scss';
// @import 'library/animate/fading_exits/fadeOutTopRight.scss';
// @import 'library/animate/fading_exits/fadeOutBottomRight.scss';
// @import 'library/animate/fading_exits/fadeOutBottomLeft.scss';

// /* Flippers */
// @import 'library/animate/flippers/flip.scss';
// @import 'library/animate/flippers/flipInX.scss';
// @import 'library/animate/flippers/flipInY.scss';
// @import 'library/animate/flippers/flipOutX.scss';
// @import 'library/animate/flippers/flipOutY.scss';

// /* Lightspeed */
// @import 'library/animate/lightspeed/lightSpeedInRight.scss';
// @import 'library/animate/lightspeed/lightSpeedInLeft.scss';
// @import 'library/animate/lightspeed/lightSpeedOutRight.scss';
// @import 'library/animate/lightspeed/lightSpeedOutLeft.scss';

// /* Rotating entrances */
// @import 'library/animate/rotating_entrances/rotateIn.scss';
// @import 'library/animate/rotating_entrances/rotateInDownLeft.scss';
// @import 'library/animate/rotating_entrances/rotateInDownRight.scss';
// @import 'library/animate/rotating_entrances/rotateInUpLeft.scss';
// @import 'library/animate/rotating_entrances/rotateInUpRight.scss';

// /* Rotating exits */
@import 'library/animate/rotating_exits/rotateOut.scss';
// @import 'library/animate/rotating_exits/rotateOutDownLeft.scss';
// @import 'library/animate/rotating_exits/rotateOutDownRight.scss';
// @import 'library/animate/rotating_exits/rotateOutUpLeft.scss';
// @import 'library/animate/rotating_exits/rotateOutUpRight.scss';
@import 'library/animate/rotating_exits/rotateCircle.scss';

// /* Specials */
// @import 'library/animate/specials/hinge.scss';
@import 'library/animate/specials/jackInTheBox.scss';
@import 'library/animate/specials/rollIn.scss';
// @import 'library/animate/specials/rollOut.scss';

// /* Zooming entrances */
@import 'library/animate/zooming_entrances/zoomIn.scss';
// @import 'library/animate/zooming_entrances/zoomInDown.scss';
// @import 'library/animate/zooming_entrances/zoomInLeft.scss';
// @import 'library/animate/zooming_entrances/zoomInRight.scss';
// @import 'library/animate/zooming_entrances/zoomInUp.scss';

// /* Zooming exits */
// @import 'library/animate/zooming_exits/zoomOut.scss';
// @import 'library/animate/zooming_exits/zoomOutDown.scss';
// @import 'library/animate/zooming_exits/zoomOutLeft.scss';
// @import 'library/animate/zooming_exits/zoomOutRight.scss';
// @import 'library/animate/zooming_exits/zoomOutUp.scss';

// /* Sliding entrances */
@import 'library/animate/sliding_entrances/slideInDown.scss';
// @import 'library/animate/sliding_entrances/slideInLeft.scss';
// @import 'library/animate/sliding_entrances/slideInRight.scss';
// @import 'library/animate/sliding_entrances/slideInUp.scss';

// /* Sliding exits */
// @import 'library/animate/sliding_exits/slideOutDown.scss';
// @import 'library/animate/sliding_exits/slideOutLeft.scss';
// @import 'library/animate/sliding_exits/slideOutRight.scss';
// @import 'library/animate/sliding_exits/slideOutUp.scss';


/// custom 
@import 'library/animate/custom/float.scss';