.admin_content_body {
    padding: 15px;
    
    .block-content {
        padding: 8px 15px;

        .input-control-link{
            position: relative;
            .btn__edit-slug{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: transparent;
                border: none;

                .hero-icon{
                    font-size: 25px;
                }
            }
        }

        .title {
            padding-bottom: 10px;
            text-transform: uppercase;
            color: black;
            font-size: 16px;

            .link__post{
                display: inline;
                font-size: 13px;
                text-transform: initial;
                padding: 0 20px;

                i{ width: 20px;}
            }
        }

        input[type=text], input:not([type]) {
            display: block;
            width: 100%!important;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid $gray-300;
            border-radius: 0;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: #067def;
                outline: 0;
                border: none;
                -webkit-box-shadow: 0 0 0 1px #053970;
                box-shadow: 0 0 0 1px #053970;
            }
        }

        textarea{
            display: block;
            width: 100%!important;
            padding: 0.375rem 0.75rem;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.25;
            color: #495057;
            background-color: #fff;
            border: 1px solid $gray-300;
            border-radius: 0;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

            &.h-100{
                height: 100%!important;
            }

            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: #067def;
                outline: 0;
                border: none;
                -webkit-box-shadow: 0 0 0 1px #053970;
                box-shadow: 0 0 0 1px #053970;
            }
        }
    }
    


    .select2-container{
        width : 100%!important;
    
        .select2-selection--single .select2-selection__rendered{
            padding-top: 10px
        }
    }
    .post__selection-sort{
        padding: 0;
        .select2-container{
            width : 100%!important;
        
            .select2-selection--single{

                min-height: unset;
                .select2-selection__rendered{
                    padding-top: 0px
                }
                .select2-selection__arrow{
                    top: 0px;
                }
            }
        }
    }
    
    .page-edit-option 
    .select2-container--default 
    .select2-selection--single{
        min-height: 38px!important;

        .select2-selection__rendered{
            padding-top: 5px;
        }
        .select2-selection__arrow{
            top: 5px;
        }
    }
    .select2-container--default {
        .select2-selection--multiple .select2-selection__rendered li{
            width: 100%
        }
    
        .select2-selection--single{
            min-height: 46px;
            border-radius: 0;
            border-color: $gray-300;
    
            .select2-selection__arrow{
                top: 10px;
            }
        }
    
        .select2-selection--multiple{
            border-radius: 0;
            border-color: $gray-300;
        }
    
        .select2-results>.select2-results__options,
        .select2-results>.select2-results__options li{
            border-radius: 0;
            border-color: $gray-300
        }
    }
    
    .wrapper__selectImageWithCKFinder{

        
    
        &.output-image-finder{
            padding-top: 15px;
        }
    
        &.type-select-ckfinder__inline {
            display: flex;
            .output-image-finder{
                
                width: auto;
                height: 38px;
            }
            input[type=text]{
                padding: 0.375rem 0.7rem;
                margin: 0 2px;
            }
        }
    }
    .group-control-img-ckfinder{
        text-align: center;
    }
    
    
    
    ul.pagination{
        display: block;
        padding: 5px;
        margin: 0;
    
        li {
            display: inline;
            font-size: 12px;
            font-weight: bold;
    
            &.disabled {
                /*background-color: #cccccc;*/
                color: #ddd;
                padding: 8px 10px;
                border: 1px solid #ddd;
                margin: 2px;
            }
            &.active {
                background-color: #687282;
                padding: 8px 10px;
                margin: 2px;
                color: white;
            }
    
            a {
    
                color: black;
                padding: 8px 10px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                margin: 2px;
    
                &.active {
                    background-color: #4CAF50;
                    padding: 8px 10px;
                    margin: 2px;
                    color: white;
                }
    
                &:hover {background-color: #999999;}
            }
        }
    }
    
    .table-list {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border-collapse: collapse;

        .over-ellipsis{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    
        .thead-list{
            display: flex;

            &>div {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                text-align: inherit;
                float: none;
            }
        }
        .trow-list{
            &.highlight{
                background-color: #fcbfc4;
            }
            &>div, .thead-list>div {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }
        }
        .trow-list:hover {
            background-color: rgba(0,0,0,.075);
        }
        .trow_list__wrapper_image{
            text-align: center;
            overflow: hidden;

            .item_image{
                max-height: 30px;
                margin: 0 auto;
            }
        }
    }
    
    
    
    .height-80px{
        height: 80px!important; 
    }
    .min-height-80px{
        min-height: 80px!important; 
    }
    
    .btn-remove-row{
        border: 0;
        outline: transparent;
        color: #770710;
        fill: #770710;
        cursor: pointer;
        background-color: transparent;
    
        .hero-icon{
            font-size: 28px;
        }
    }
    .btn-update-row{
        border: 0;
        outline: transparent;
        color: #419e73;
        fill: #419e73;
        cursor: pointer;
        background-color: transparent;
    
        .hero-icon{
            font-size: 28px;
        }
    }
    
    .hminpx-200{
        min-height: 200px;
    }
    
    .error{
        color: #770710;
    }
    
    .btn{
    
        padding: 0.7rem 2.44rem;
        border: 0;
        border-radius: 0;
        font-size: 12px;
    }
    .btn-save-data{
        background-color: #007e33!important;
        color: $gray-100;
        cursor: pointer;
    
        &:disabled{
            cursor: unset
        }
    }
    .btn-input-append.btn {
        min-width: 80px;
        width: auto;
        margin: 0;
        height: 38px;
        padding: 0.7rem;
        border: 1px solid #f2f2f2;
        box-shadow: none;
        border-color: #00bcd4 !important;
        background-color: #00bcd4 !important;
        color: #fff !important;
    }
    .btn-select-thumb{
        background-color: #4285f4 !important;
        color: #fff !important;
    }
    
    .js-group-option{
        
        position: relative;
    
        .hero-close{
            position: absolute;
            right: 0;
            top: 0;
            // @include render-transform(translateY(-50%));
            border-radius: 50%;
            width: 26px;
            z-index: 11;
            height: 26px;
            padding: 1px;
            font-size: 24px;
            background-color: $black;
            color: $gray-500;
        }
    }
}



.search{
    /* Style the form - display items horizontally */
    .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    
    /* Add some margins for each label */
    .form-inline label {
        margin: 5px 10px 5px 0;
    }
    
    /* Style the input fields */
    .form-inline input {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        max-width: 180px;
    }
    /* Style the input fields */
    .form-inline select{
        display: inline-block;
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        max-width: 180px;
    }
    
    /* Style the submit button */
    .form-inline button {
        padding: 10px 20px;
        background-color: dodgerblue;
        border: 1px solid #ddd;
        color: white;
    }
    
    .form-inline button:hover {
        background-color: royalblue;
    }
    
    /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
    @media (max-width: 800px) {
        .form-inline input {
        margin: 10px 0;
        }
    
        .form-inline {
        flex-direction: column;
        align-items: stretch;
        }
    }
}

