

$color_pur: #321fdb;



footer {
    color: #4f5d73;
    background: #ebedef;
    border-top: 1px solid #d8dbe0;
    display: flex;
    justify-content: space-between;

    .copyright{
        display: inline-block;
        &__link{
            color: $color_pur;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .powered{
        
        display: inline-block;
        text-align: right;

        &__link{
            color: $color_pur;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}