
$background_sidebar : #293242;
$background_navigate_link: #485977;
$background_navigate_link_hover: #192436;
$background_navigate_link_dropdown_hover: #e9ecef;
$font_size_mini: 22px;
$width_sidebar: 250px;
$width_sidebar_mini: 60px;

.sidebar{

    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    &.z-index-hight{
        z-index: 1111111;
    }
    
    .sidebar__fixed{
        width: $width_sidebar;
        height: 100vh;
        @include render-scroll-custom();
        overflow-y: auto;
        background-color: $background_sidebar;
    }

    .logo{
        display: block;
        text-align: center;
        padding: 10px;
        position: relative;
        border: 1px solid transparent;
        border-bottom-color: $gray-200;

        &__img{
            display: inline-block;
            vertical-align: bottom;
            width: 32px;
            height: 32px;
            position: relative;
            z-index: 111;
        }
        &__text{
            display: inline-block;
            vertical-align: bottom;
            color: inherit;
            text-align: center;
            fill: currentColor;
            color: $white;
            font-size: 18px;
            font-weight: 600;
        }
        &__mini_text{
            font-size: 13px;
            font-weight: 100;
            color: $info-color-dark;
            text-transform: uppercase;
            font-style: normal;
        }
        &__box_pro{
            background-color: $info-color-dark;
            color: $white;
            padding: 2px 4px;
            font-size: 8px;
            vertical-align: 1em;
        }
        
    }
    .navigate_default{
        
        @extend .navigate-link;
        border-bottom: 1px solid $gray-200;
    }
    .nav_list{
        padding: 0;
        margin: 0;
    }
    .block_navigate{
        margin-top: 2px;
        
        &.active{
            &>a{
                background-color: $background_navigate_link_hover;
            }
            .dropdown__item{
                display: block;
            }

            .hero-chevron-sidebar{
                &:before {
                    content: "\F013C"!important;
                }
            }
        }
        .block_navigate__link{
            @extend .navigate-link;
        }
        
    }
    .toggle_navigate{
        
        background-color: $background_navigate_link;
        color: $white;
        display: block;
        margin: 30px 0 15px;
        text-align: center;
        position: relative;
        &:after{
            content: ".";
            color: transparent;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: 1;
            line-height: 0;
            height: 1px;
            border-bottom: 1px solid $gray-300;
        }
        .hero-icon{
            position: relative;
            z-index: 2;
            font-size: 20px;
            background-color: $background_navigate_link;
        }
    }
    &.mini{

        .sidebar__fixed{
            width: $width_sidebar_mini;
        }
        

        .logo{
            text-align: center;

            &__text, 
            &__mini_text, 
            &__box_pro{
                display: none;
            }
            /** fix icon design */
            &:before{
                
                left: 15px;
            }
            
        }
        .nav__text, 
        .dropdown__item, 
        .hero-chevron-sidebar{
            display: none!important;
        }
        .navigate_default,
        .block_navigate .block_navigate__link{
            @extend .hero-icon-mini-sidebar;
        }
        .active-hover{
            // the submenus cannot have a positioned parent inside the scrollable list
            position: static;
            .dropdown__item{
                width: $width_sidebar;
                display: block!important;
                padding: 1px;
                position: absolute;
                left: 101%;
                top: 0;
                color: $white;
                z-index: 10000000;
                
                li{
                    background-color: $background_navigate_link_hover;
                    border: 1px solid $background_navigate_link_hover; 

                    &.active{
                        background-color: #2a3770;
                        a{
                            color: $white!important;
                        }
                    }
                    &:hover{
                        background-color: $background_navigate_link!important;
                        a{
                            color: $white!important;
                        }
                    }
                }
            }
        }
    }
}

.navigate-link{
    color: $white;
    background-color: $background_navigate_link;
    padding: 10px;
    display: block;
    border: 1px solid transparent;
    cursor: pointer;
    @include clearfix();
    
    &.active{
        background-color: $background_navigate_link_hover;
    }

    .hero-icon{
        font-size: 15px;
        color: $gray-500;
    }
    .nav__text{
        text-transform: capitalize;
        vertical-align: bottom;
    }
    .hero-chevron-sidebar{
        float: right;
        color: $white;
        &:before {
            content: "\F013D";
        }
    }
    &:hover{
        background-color: $background_navigate_link_hover;
    }
}
.dropdown__item{
    display: none;
    padding: 0;
    margin: 0;

    li{
        border-bottom: 1px solid $gray-700;
        &:last-child{
            border-bottom-color: transparent;
        }
        &:hover, &.active{
            background-color: $background_navigate_link_dropdown_hover;
            a{
                color: $gray-900;
            }
        }
        a{
            padding: 8px 0 8px 30px;
            display: block;
            color: $gray-400;
        }
    }
}
.hero-icon-mini-sidebar{
    
    text-align: center;       
    .hero-icon{
        font-size: $font_size_mini;
        color: $white;
    }
}




/**
* right_content_page là content right của page ngang cấp với sidebar
*/
.right_content_page{
    float: right;
    position: relative;
    z-index: 1;
    width: calc(100% - #{$width_sidebar});
    // padding-left:;

    &.sidebar-mini{
        width: calc(100% - #{$width_sidebar_mini});
    }
}

.wrapper-page{
    @include clearfix();
}