@import "../_variable";
@import "../_mixin";
@import "../_reboot";

// @import "../partial/sidebar";
// @import "../partial/nav";
// @import "../partial/footer";

.content{
    position:relative;
    padding-left: 500px;
    margin-left: 200px;   
    width: 800px;
}