
@import "../_variable";
@import "../_mixin";
@import "../_reboot";


.main-content{
    max-width: 800px;
    margin: 0 auto;
}
.social{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 25px;
}
.social .divider{
    content: ".";
    color: transparent;
    display: inline-block;
    border-right: 1px solid #ddd;
    width: 10px;
    height: 20px;
    vertical-align: middle;
}

.social__fb{
    background-color: #3b5998;
    color: white;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: 1px solid #3b5998;
}
.social__fb:hover{
    background-color: #5a74ad;
    color: white;
}
.share-text{
    padding-left: 3px;
}
.social__wt{
    background-color: #1da1f2;
    color: #fff;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #1da1f2;
}
.social__wt:hover{
    background-color: #51b3f0;
    color: white;
}

.social__prt{
    background-color: #ffffff;
    color: #1da1f2;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #1da1f2;
}
.social__prt:hover{
    background-color: #f2f2f2;
    color: #69bcf0;
}
.head{
    margin-bottom: 7px;
    padding-left: 10px;
}
.number{
    width: 39px;
    background-color: #1baad1;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    float: left;
    padding: 7px 2px;
    margin-right: 10px;
}

.imgmes{
    margin-top: 35px;
}
.imgmes_img{
    width: 380px;
    height: 240px;
    float: left;
    padding-right: 37px;
}
.head-title{
    font-size: 24px;
}
.imgdtl-list > img{
    width: 240px;
    height: 152px;
    flex-wrap: wrap;
    margin: 35px 30px 35px 0px;
}
.info > p{
    font-size: 18px;
    padding: 30px 0px 30px 0px;
}
.info-text{
    width: 50%;
    float: left;
}
.info-text > p{
    font-size: 12px;
    font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, 
    Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", 
    "MS PGothic", sans-serif;
    padding-top: 30px;
}
.info-text > a{
    color: #3dc4e9;
    font-size: 12px;
    clear: both;
}

.info-txtimg{
    margin-bottom: 230px;
}

.info-txtimg > img{
    width: 320px;
    height: 202.1px;
    margin-left: 80px;
}

.btn_map{
    background-color: #1baad1;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

.btn_map:hover{
    background-color: #5ab7d1;
}

.btn_map > span{
    color: #fff;
}

.roundbtn-fb{
    background-color: rgb(59, 89, 152);
    width: 100%;
    height: 100%;
    padding: 22px 30px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-right: 15px;
    
}
.roundbtn-fb:hover{
    background-color: rgb(75, 101, 156);
    color: white;
}
.roundbtn-tw{
    background-color: rgb(29, 161, 242);
    width: 100%;
    height: 100%;
    padding: 22px 30px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    text-align: center;
}

.roundbtn-tw:hover{
    background-color: rgb(98, 184, 238);
    color: white;
}
.social-footer{
    margin-bottom: 50px;
}

.footer > p{
    margin: 0 auto;
}
.btn-footer{
    margin-bottom: 5px;
}
.btn-footer > a{
    border: 1px solid rgb(148, 144, 144);
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(158, 155, 155);
}
.btn-footer > a > span{
    font-size: 10px;
}

.footer__pic{
    height: 269px;
    clear: none;
    float: left;
    width: 33.333%;
    padding: 8px;
    overflow: hidden;
    display: block;
}


.footer__img > img{
    width: 300px;
    height: 300px;
}

.footer-pic__wrapper{
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}


.footer__img{
    display: block;
}
.footer__img:hover img{
    transform: scale(1.16);
    transition:all 1s;
}
.footer__num{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
    background-color: transparent;
    display: flex;
    width: 54px;
    flex-direction: column;
    transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.footer__num > i{
    background-color:#1baad1;
    text-align: center;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 9px 5px;
    color: #fff;
    font-weight: bold;

}

.title{
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    left: 0px;
    padding: 8px 16px;
    width: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 2;
}

.title:hover{
    background-color: blue;
    transition: all 0.5s ease-in-out;
}

.title > h3{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.list__img:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}