@import "../_variable";
@import "../_mixin";
@import "../_reboot";

@import "../partial/sidebar";
@import "../partial/nav";
@import "../partial/footer";
 
.wrapper__page{
    max-width: 2100px;
    margin: 0 auto;
}

.wrapper__content{
    
    @include ScreenMax(MD){
        padding-right: 0px;
        padding-top: 50px;
    }
}



.homeslider{
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 28%;
    height: 100vh;
    margin: 0px;
    @include ScreenMax(MD){ 

        overflow: hidden;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        max-height: 300px;
        margin: 0px;
    }

    &__wrapper{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    &__item{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: center center / cover no-repeat rgb(255, 255, 255);
        opacity: 0;
        transform-origin: center center;
        animation-duration: 1s;
        animation-fill-mode: both;
        
        &.show{
            opacity: 1;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;

            &:nth-child(1) {
                animation: 8s linear 0s infinite normal none running giXJVD;
            }
        }
    }
}


.content__main{
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 95px;

    &.homepage{
        padding-left: 28%;
        padding-left: calc( 28% + 8px);
        @include ScreenMax(MD){  padding-right: 0; padding-left: 0; }
    }
    @include ScreenMax(MD){  padding-right: 0; padding-left: 0; }
}


.main__list{
    @include clearfix();
}
.article{
    clear: none;
    float: left;
    width: 33.333%;
    padding: 8px;

    $__ : '.article';

    @include ScreenMax(MD){ 
        
    }
    @include ScreenMax(SM){ width: 50% }
    @include ScreenMax(XSM){ 
        width: 100%;
        
        .article__link-title{

            .title{
                font-size: 12px;
            }
        }
    }

    &:hover{
        #{$__}__link-title{
            background-color: transparent;
            padding: 16px;
            transition: all 0.5s ease-in-out;
            z-index: 1111;
            &:after{
                content: ".";
                color: transparent;
                position: absolute;
                opacity: 0.5;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgb(27, 170, 209);
                z-index: 1;
            }
        }
        #{$__}__link-img{
            img{
                transition: all 0.5s ease-in-out;
                transform: scale(1.16);
            }
        }
    }
    &__right{
        margin-top: -33.333%;

        @include ScreenMax(SM){ margin-top: 0%; }
    }
    
    &__default{

        &-clearbold{
            clear: both
        }
    }
    &__wrapper{
        width: 100%;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    &__link-img{
        img{
            width: 100%;
            transition: all 0.5s ease-in-out;
            transform: scale(1.08);
        }
    }
    &__link-title{
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        left: 0px;
        padding: 8px 16px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
        z-index: 2;

        .title{
            font-size: 16px;
            font-weight: bold;
            color: $white;
            position: relative;
            z-index: 111111;
        }
    }
    &__challenge{
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 100;
        background-color: transparent;
        display: flex;
        width: 54px;
        flex-direction: column;
        transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;

        &-text{
            color: turquoise;
            position: relative;
            box-sizing: border-box;
            margin-bottom: 4px;
        }
        &-number{
            background-color: turquoise;
            text-align: center;
            color: $white;
            font-weight: bold;
            font-size: 1.125rem;
            margin: 0px auto;
            position: relative;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            background: rgb(27, 170, 209);
            border-radius: 8px;
            font-family: Lato, sans-serif;
            font-weight: 700;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            line-height: 1;
            color: rgb(255, 255, 255);
        }
    }
}