@import "../_variable";
@import "../_mixin";
@import "../_reboot";



.wrapper__head{
    display: flex;
    flex-direction: row;
    align-items: center;

    .link__homepage-head{
        color: $black;
        height: 100%;
        padding: 0 10px 10px;
        text-transform: capitalize;
        font-family: 'Train One', cursive;
        font-size: 18px;
        display: inline-block;
        @include ScreenMax(MD){ display: none; color: $black; }
    }
}

.container__wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.social{
    flex-grow: 9999;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    padding: 10px;
    .divider{
        content: ".";
        color: transparent;
        display: inline-block;
        border-right: 1px solid #ddd;
        width: 10px;
        height: 20px;
        vertical-align: middle;
    }

    &__fb{
        background-color: #3b5998;
        color: white;
        font-size: 12px;
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        border: 1px solid #3b5998;
        &:hover{
            background-color: #5a74ad;
            color: white;
        }
        @include ScreenMax(MD){ padding: 8px 15px 8px 15px; }
    }
    .share-text{
        padding-left: 3px;
    }
    &__wt{
        background-color: #1da1f2;
        color: #fff;
        font-size: 12px;
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        margin-left: 5px;
        border: 1px solid #1da1f2;
        &:hover{
            background-color: #079cf8;
            color: white;
        }
        @include ScreenMax(MD){ padding: 8px 15px 8px 15px; }    
    }
    &__prt{
        background-color: #ffffff;
        color: #1da1f2;
        font-size: 12px;
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        margin-left: 5px;
        border: 1px solid #1da1f2;
        &:hover{
            background-color: #f2f2f2;
            color: #0c3c5a;
        }
        @include ScreenMax(MD){ padding: 8px 15px 8px 15px; }
    }
    .number{
        padding: 10px;
        background-color: cadetblue;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        float: left;
        vertical-align: middle;
    }
    
}