@import "../_variable";
@import "../_mixin";
@import "../_reboot";


.reImg_detail{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.wrapper{
    padding-left: 0;
}

.relation-img-list{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.reImg{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 266px;
    .reImg_detail{
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

    }
}
.__reImg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1);
}
.main-content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    will-change: opacity;
    padding: 0 15px;


    .content{
        position: relative;
        box-sizing: border-box;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.15s;
        max-width: 800px;
        margin: 0 auto;

        .header_content{
            position: relative;
            box-sizing: border-box;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;

            @include ScreenMax(SM){
                
                &--title{
                    font-size: 16px;
                }
                &--title-des{
                    font-size: 12px;
                }
            }
        }
        .wechild{
            &__wrapper{
                position: relative;
                box-sizing: border-box;
                margin-bottom: 48px;
            }

            &__news{
                position: relative;
                box-sizing: border-box;
                margin-bottom: 48px;

                &-banner{
                    padding: 15px 0 35px;
                }
                &-des{
                    padding-bottom: 10px;
                }
                &-detail{
                    padding-bottom: 40px;
                }
    
                .ftimage{
                    position: relative;
                    display: block;
                    box-sizing: border-box;
                    padding: 16px 0;
                    border-radius: 5px;
                    background: rgb(28, 172, 210);
                    color: rgb(255, 255, 255);
                    line-height: 1;
                    text-align: center;
                    width: 300px;
                    margin: 0 auto;
                }
            }
        }
        .relation-img{
            &-text{
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}

.div_text{
    margin: 0 auto;
    padding-left: 350px;
    color: #8ed0f9;
}