@import "../_variable";
@import "../_mixin";
@import "../_reboot";


.reImg_detail{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.wrapper{
    padding-left: 0;
}

.relation-img-list{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.reImg{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 266px;
    .reImg_detail{
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

    }
}
.__reImg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1);
}
.main-content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    will-change: opacity;
    padding: 0 15px;


    .content{
        position: relative;
        box-sizing: border-box;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.15s;
        max-width: 800px;
        margin: 0 auto;

        .header_content{
            position: relative;
            box-sizing: border-box;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;

            @include ScreenMax(SM){
                
                &--title{
                    font-size: 16px;
                }
                &--title-des{
                    font-size: 12px;
                }
            }
        }
        .wechild{
            &__wrapper{
                position: relative;
                box-sizing: border-box;
                margin-bottom: 48px;
            }

            &__news{
                position: relative;
                box-sizing: border-box;
                margin-bottom: 48px;

                &-banner{
                    padding: 15px 0 35px;
                }
                &-des{
                    padding-bottom: 10px;
                }
                &-detail{
                    padding-bottom: 40px;
                }
            }
            
        }
        .ftimage{
            position: relative;
            display: block;
            box-sizing: border-box;
            padding: 16px 0;
            border-radius: 5px;
            background: rgb(28, 172, 210);
            color: rgb(255, 255, 255);
            line-height: 1;
            text-align: center;
            width: 300px;
            margin: 0 auto;
        }
        .relation-img{
            &-text{
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}

.div_text{
    margin: 0 auto;
    padding-left: 350px;
    color: #8ed0f9;
}






.fix-content-css{

    img{
        height: auto!important;
        margin: 10px auto;
    }
    p{
        padding-top: 5px;
        
    }
    h1{
        padding-top: 20px;
        font-weight: 700;
    }
    h2{
        padding-top: 20px;
        font-weight: 500;
    }
    h3{
        padding: 10px 0 5px 18px;
        font-weight: 300;
        position: relative;

        &::before{
            position: absolute;
            left: 0;
            top: 24px;
            content: "\F012D";
            font-size: 12px;
            color: $default-color-dark;
            font: normal normal normal 24px/1 "HERO Icons";
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            margin-right: 10px;
        }
    }
    h4{
        padding: 10px 0 5px 20px;
        font-weight: 200;
        position: relative;

        &::before{
            position: absolute;
            left: 5px;
            top: 18px;
            content: "\F038D";
            font-size: 12px;
            color: $default-color-dark;
            font: normal normal normal 24px/1 "HERO Icons";
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            margin-right: 10px;
        }
    }
    h5{
        padding: 10px 0 5px 30px;
        font-weight: 100;
        position: relative;

        &::before{
            position: absolute;
            left: 10px;
            top: 15px;
            content: "\F0AE5";
            font-size: 12px;
            color: $default-color-dark;
            font: normal normal normal 24px/1 "HERO Icons";
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            margin-right: 10px;
        }
    }
    ul, ol{
        padding-left: 20px;
    }
    ul {
        list-style-type: circle;
    }
    ol{
        list-style-type: decimal
    }

    ul.square {
        list-style-type: square;
    }
      
    ul.upper-roman {
        list-style-type: upper-roman;
    }
      
    ul.lower-alpha {
        list-style-type: lower-alpha;
    }


    // blockquote {
    //     position: relative;
    //     font-family: 'Roboto', serif;
    //     margin: 0; 
    //     padding: 20px 0;
    //     font-weight: 100;
    //     color: lighten(#2e576b, 20%);
    //     &:before, &:after {
    //         content: '\201C';
    //         font-family: 'Sanchez';
    //         color: lighten(#2e576b, 50%);
    //     } 
    // }
    blockquote p {
        position: relative;
        padding-left: 15px;
        border-left: 3px solid lighten($black, 40%);
        font-family: 'Roboto', serif;
        font-weight: 100;
        font-size: 16px;
        &:before, &:after {
            content: '\201C';
            font-family: 'Sanchez';
            color: lighten($black, 40%);
            padding: 0 3px;
        }
        &:after {
            content: '\201D';
        }
    }

    // @include Screen(SM) {
    //     h1{
    //         font-size: 25px;
    //         padding: 10px 0 15px;
    //     }
    //     h2{
    //         font-size: 23px;
    //         padding: 10px 0 15px;
    //     }
    //     h3{
    //         font-size: 19px;
    //         padding: 8px 0 10px 18px;

    //         &::before{
    //             left: 0;
    //             top: 10px;
    //         }
    //     }
    //     h4{
    //         font-size: 17px;
    //         padding: 5px 0 8px 20px;

    //         &::before{
    //             left: 0;
    //             top: 8px;
    //         }
    //     }
    //     h5{
    //         font-size: 15px;
    //         padding: 5px 0 8px 20px;

    //         &::before{
    //             left: 0;
    //             top: 8px;
    //         }
    //     }
    //     ul{
    //         padding-left: 20px;
    //     }
    // }
}