
/* Author: TRƯƠNG THANH HÙNG Author URI: https://www.facebook.com/HungSmurf Version: 1.0 Description: . */

@charset "UTF-8";
*,
 :after,
 :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0; // 1
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-color;
  background-color: $body-bg; 
  line-height: $line-height-base;
}
%tag-default{
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
    outline: 0 !important;
    text-decoration: none !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption,
th,
td {
    text-align: left;
    padding: 5px 10px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
time {
    display: block;
}



// Typography
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

%heading {
  margin-top: 0; // 1
  margin-bottom: 0;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}



// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.

p {
  margin-top: 0;
  margin-bottom: 0;
}

// Links



a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:active {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: none;
  }
  &:not([href]) {
    &,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}


// Images and content
img{
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
  line-height: 1;
}


h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0px;
    padding: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075);
}


/*page ----------------------------------------------------*/

.line-height-0 {
    line-height: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 14px;
    font-weight: normal;
    color: #111;
    text-decoration: none;
    line-height: 1.7;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.float-none {
    float: none!important;
}

.mobile {
    display: none;

    @include Screen( SM ){
      display: unset;
    }
}

.small {
    display: none;
}


/* Clearfix -----------------------------------------*/

.clear {
    zoom: 1;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}


/** * display */

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.position-relative {
    position: relative;
}



.italic {
	font-style: italic!important
}

.not-italic {
	font-style: normal!important
}

.uppercase {
	text-transform: uppercase!important
}

.lowercase {
	text-transform: lowercase!important
}

.capitalize {
	text-transform: capitalize!important
}

.normal-case {
	text-transform: none!important
}

.underline {
	text-decoration: underline!important
}

.line-through {
	text-decoration: line-through!important
}

.no-underline {
	text-decoration: none!important
}

/**************************************************/

.font-hairline {
	font-weight: 100!important
}

.font-thin {
	font-weight: 200!important
}

.font-light {
	font-weight: 300!important
}

.font-normal {
	font-weight: 400!important
}

.font-medium {
	font-weight: 500!important
}

.font-semibold {
	font-weight: 600!important
}

.font-bold {
	font-weight: 700!important
}

.font-extrabold {
	font-weight: 800!important
}

.font-black {
	font-weight: 900!important
}
//// text aline 
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}



//// margin AUTO  
.vertical-align-middle{
	vertical-align: middle;
}
.mg-auto{
	margin-left: auto;
	margin-right: auto
}

.rounded-circle {
  border-radius: 50% !important;
}

.border {
  border: 1px solid #dee2e6!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}
.border-right {
  border-right: 1px solid #dee2e6!important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}
.border-left {
  border-left: 1px solid #dee2e6!important;
}

@each $name, $color in $colors {
  .text-color-#{""+$name} {
    color: $color;
  }
}
@each $name, $color in $colors {
  
  .border-color-#{""+$name} {
    border-color: $color;
  }
}
@each $name, $color in $colors {
  
  .bg-color-#{""+$name} {
    background-color: $color;
  }
}

@each $width in $width {
  .w-#{$width} {
    width: #{$width + '%'};
  }
}

@each $name, $font-size in $font-sizes {
  .text-#{""+$name} {
    font-size: $font-size
  }
}

body.neo-scroll {
  overflow: hidden;
}

input, select, textarea, option{
  &:focus{
    border: 1px solid #aaaaaa;
    outline: none;
  }
}
.pc {
  display: block;
  @include Screen(SM) {

    display: none;
	}
}



/** shadows depth ****************************************/

.shadows-0 {
  box-shadow: none !important;
}

.shadows-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.shadows-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.shadows-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.shadows-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.shadows-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

.shadows-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
}


/**********************************************************/

.pb-1,
.py-1 {
  padding-bottom: 0.25rem!important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem!important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem!important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem!important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem!important;
}

.pt-3,
.py-3 {
  padding-top: 1rem!important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem!important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem!important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem!important;
}

.pt-5,
.py-5 {
  padding-top: 3rem!important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem!important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem!important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem!important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem!important;
}

.pl-3,
.px-3 {
  padding-left: 1rem!important;
}

.pr-3,
.px-3 {
  padding-right: 1rem!important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem!important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem!important;
}

.pl-5,
.px-5 {
  padding-left: 3rem!important;
}

.pr-5,
.px-5 {
  padding-right: 3rem!important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem!important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem!important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem!important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem!important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem!important;
}

.mt-3,
.my-3 {
  margin-top: 1rem!important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem!important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem!important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem!important;
}

.mt-5,
.my-5 {
  margin-top: 3rem!important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem!important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem!important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem!important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem!important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem!important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem!important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem!important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem!important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem!important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem!important;
}


.title-hr{
  
  background: url(/images/background/bg_title.png) center bottom no-repeat;
    color: #142149;
    display: block;
    font-family: RCB;
    font-size: 25px;
    padding: 40px 30px 15px;
    text-align: center;
    text-transform: uppercase;
}
.wrap-break-word{
  overflow-wrap: break-word!important;
}
.multiple-line-truncation{
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.single-line-truncation{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}