@keyframes float {
  0% {
    transform: translateY(0px);
    -webkit-transition: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
    -webkit-transition: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transition: translateY(0px);
  }
}
